<!DOCTYPE html>
<html>
  <h1>Bienvenidos a Educading.</h1> </br>
  <%= link_to 'Preguntas', '/questions' %>	</br>
  <%= link_to 'Categorías', '/categories' %>	</br>
</br>
	<%= link_to 'Permisos', '/permits/index' %>
