<!DOCTYPE html>
<html>
  <h1>Bienvenidos a Educading.</h1> </br>
  <%= link_to 'Preguntas', '/questions' %>	</br>
  <%= link_to 'Categorías', '/categories' %>	</br>
</br>
	<%= link_to 'Perfil de usuario', '/users/show' %> </br>
	<%= link_to 'Lista de preguntas', '/users/questions' %>

