


<h2> Mis permisos </h2>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4> Usted posee los siguientes permisos: </h4></div>
			<div class="panel-body">

			<% @user.permits.each do |p| %>
				<h6> <%= p.name %> </h6>
			<% end %>


			
			</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
<h4> Le faltan obtener los siguientes permisos: </h4></div>
<div class="panel-body">


<% Permit.all.each do |p| %>
	<% if @user.permits.find_by(name: p.name) == nil %>
		<h6> <%= p.name %> </h6>
	<% end %>
<% end %>


	
			</div>
</div>
