<%= form_with(model: comment_q, local: true) do |form| %>
  <% if comment_q.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment_q.errors.count, "error") %> prohibited this comment_q from being saved:</h2>

      <ul>
      <% comment_q.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
