
<h1>Permisos</h1>

<table class="table">
  <tr>
    <th>Permiso</th>
    <th>Descripción</th>
    <th>Puntaje necesario</th>
    <th>Editar </th>
  </tr>

	<% Permit.all.order('score ASC').each do |p| %>
		<tr>
		<td> <%= p.name %> </td>
		<td> <%= p.descripcion %> </td>
		<td> <%= p.score %> </td>
		<td>
		<%= link_to 'Edit', :action => :edit, :id => p.id %> 
		</td>
		</tr>
		
	<% end %>
	</tr>
</table>
