<h1>Crear nueva categoría</h1>

<%= form_for @category do |c| %>
	<table class="table">
    <tr>
      <td><%= c.label :name %></td>
      <td>
      <%= c.text_field :name, label: 'name', placeholder: 'Ingrese el nombre' , :required => true , size: 50, :uniqueness => true %>
      </td>
    </tr>
</tr> 
<tr>
      <td colspan="2" align="center" >
  		  <%= c.submit "Crear", class: 'btn btn-danger' %>
      </td>
    </tr>
  </table>
<% end %>