<p>Hola <%= @resource.email %>!</p>

<p>Alguien pidió un link para cambiar tu contraseña. Lo puedes hacer con el siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no lo solicitó, ignore este e-mail.</p>
<p>Tu contraseña no será modificada hasta que entres al link anterior y la modifiques.</p>
